.control-cluster-wrapper {
    height: 156px;
    width: 156px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 1px 16px #000000a3, 
                inset 5px -3px 13px 0px #ffffff61, 
                inset 2px -3px 3px 0px #ffffff61, 
                inset -6px 7px 6px 2px #00000073, 
                inset -2px 2px 1px 0px #ffffff42, 
                inset -8px 9px 14px 6px #000000,
                -2px 2px 2px -1px #ffffff5c, 
                2px -2px 2px -1px #ffffff17;
    background: radial-gradient(circle at 67% 28%, #0a0a0a, rgb(22 22 22) 70%);
}

.control-cluster {
    padding-top: 23px;
    padding-left: 8px;
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}

.control-cluster .control-row {
    width: 120px;
    height: 100%;
}

.control-cluster .control-column, .control-column.zoom-button {
    height: 42px;
    width: 42px;
}