.control-cluster-wrapper {
    height: 105px;
    width: 105px;
    border-radius: 50%;
}

.control-cluster {
    margin-top: -3px;
    margin-left: -17px;
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.control-cluster .control-row {
    width: 120px;
    height: 100%;
}

.control-cluster .control-column, .control-column.zoom-button {
    height: 42px;
    width: 42px;
}