.playback-panel {
    position: relative;
    margin-left: -120px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-around;
}

.control-cluster-wrapper {
    position: relative;
    margin: 10px 10px -30px -14px;
}

.diagonal-switch-column {
    margin-top: -70px;
}

.playback-panel .input-with-label {
    position: relative;
    margin-left: -24px;
}

#logo-cluster {
    position: relative;
    margin-top: 10px;
    margin-bottom: -40px;
}

#gavazn-logo {
    width: 110px;
    margin-left: -10px;
    opacity: 0.9;
}

#logo-subtitle {
    display: block;
    line-height: 110%;
    margin-left: -1px;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: normal;
}

#help-button {
    position: absolute;
    top: -50px;
    left: 93px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    width: 15px;
    aspect-ratio: 1;
}