.io-and-cpu-knob {
    align-items: end;
}

.io-and-cpu-knob .winged-selector {
    margin-bottom: -20px;
}

.io-and-cpu-knob .push-button {
    width: 40px;
    height: 10px;
    border-radius: 3px;
}

.io-and-cpu-knob span {
    margin-bottom: -3px;
}

.rule-panel .knob-row {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}