.io-and-cpu-knob {
    margin-top: 25px;
    align-items: end;
}

.io-and-cpu-knob .push-button {
    width: 40px;
    height: 10px;
    border-radius: 3px;
}

.io-and-cpu-knob span {
    margin-bottom: -3px;
}

.rule-panel {
    position: relative;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.rule-panel .knob-row {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#n-knob {
    margin-top: 10px;
    margin-bottom: 40px;
}

#n-label {
    position: absolute;
    left: 40px;
    top: -15px;
    font-size: 16px;
}

#framerate-label {
    position: absolute;
    left: 15px;
    top: -15px;
    font-size: 12px;

}

#edit-modal-headers {
    position: relative;
    white-space: pre;
}

#edit-modal-headers, .edit-input-idx, .edit-input-state, .edit-input-neighbourhood, .edit-input-input {
    font-size: 15px;
}

.edit-input-row {
    position: relative;
    top: 10px;
}

.edit-input-idx {
    position: absolute;
    left: 0px;
    margin: 0;
}

.edit-input-state {
    position: absolute;
    left: 91px;
    margin: 0;
}

.edit-input-neighbourhood {
    position: absolute;
    left: 154px;
}

.edit-input-input {
    position: relative;
    left: 470px;
    top: -6px;
    width: 35px;
    color: var(--machine-text);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.edit-modal-page-button {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    user-select: none;   
    top: 91%;
}

#edit-modal-page-right {
    left: 93%;
}

#edit-current-page {
    position: absolute;
    top: 92.9%;
    left: 37.5%;
    width: 70px;
    color: var(--machine-text);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

#edit-total-page-count {
    position: absolute;
    top: 93%;
    left: 51%;
    font-size: 16px;
}