.binary-switch {
    padding: 5px;
    width: 70px;
    height: 45px;
}

.binary-switch-housing {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-color: #141414;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 1px -1px 1px 1px #0000008c, -1px 1px 1px 1px #000000c4, inset 2px -2px 6px 4px #7372720a, inset -2px 2px 1px 0px #000000b8, inset 1px -1px 2px 1px black;
    background-color: #040404;
}

.binary-switch-switch {
    position: relative;
    width: calc(100% - 12px);

    left: 3px;
    height: 25%;
    background-color: grey;
    background-image: radial-gradient(at 122% 15%, #ffffffc9, transparent 105%);
    border-width: 2px;
    border-color: #232323;
    border-radius: 4px;
    border-style: solid;
    box-shadow: -2px 1px 2px 1px #000000ad,
                -1px 3px 2px 2px #00000070,
                1px 0px 1px 1px #ffffff40,
                0px -2px 1px 1px #89898940,
                inset 0px 0px 2px 1px #1c1c1c8a;
    transition: 60ms cubic-bezier(0, 0.77, 0.2, 0.9);
}