.knob {
    position: relative;
    user-select: none;
}

/* --------- KNOB ------------ */
.knob-knob {
    position: absolute;
    border-radius: 50%;
    touch-action: none;
    cursor: pointer;
    outline: none;
    background: radial-gradient(circle at 61% 26%, #1a1a1a, rgb(8 8 8) 72%);
    box-shadow: inset -5px 5px 6px -6px #f9f7f79e, 
                2px -2px 1px 0px #0c0c0ccf, 
                -2px 2px 5px 1px #000000bf;
    border-style: solid;
    border-width: 13px;
    border-color: black;
}

.knob-knob::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 1px;
    box-shadow: 8px -9px 13px -2px rgb(243 243 243 / 17%), 
                -1px 1px 2px rgb(243 243 243 / 5%);
    pointer-events: none;
}

/* ------- ROTOR ---------- */
.knob-rotor {
    position: absolute;
    inset: 0;
    transform-origin: 50% 50%;
    transition: transform 70ms cubic-bezier(0.31, 1.06, 0.44, 0.95);
    will-change: transform;
}

/* ---------- NIB ------------ */
.knob-nib {
    position: absolute;
    left: 50%;
    top: 8%;                            
    width:  4px;
    height: 20px;     
    transform: translateX(-50%);

    background: var(--machine-text);
}

/* ---------- TICKS ------------ */
.knob-ticks {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background-image: repeating-conic-gradient(
        var(--machine-text) -1deg 1deg,
        rgba(0, 0, 0, 0) 2deg calc(var(--arc-step) - 2deg),
        var(--machine-text) calc(var(--arc-step) - 1deg)
    );
}

.knob-ticks-cover {
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background-color: var(--machine-colour);
}

/* ------------ LABELS --------------- */
.knob-label {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 4px 8px;
    border: 0;
    background: transparent;
    cursor: pointer;
    /*font: 600 11px/1 ui-monospace, Menlo, monospace;*/
    font: bold 11px ui-monospace, monospace; 
    letter-spacing: .08em;
    text-transform: uppercase;
    color: var(--machine-text);
}