.winged-selector {
    position: relative;
    user-select: none;
}

/* ---------- DIAL ---------- */

.winged-selector-dial {
    position: absolute;
    border-radius: 50%;
    cursor: grab;
    touch-action: none;
    outline: none;
    background: radial-gradient(circle at 73% 19%, #232323, rgb(14 14 14) 82%);
    box-shadow: 0px 0px 1px 5px black, inset -3px 3px 4px -4px #999999, inset 2px -2px 3px -1px #000000;
}


/* ------- ROTOR ---------- */
.winged-selector-rotor {
    position: absolute;
    inset: 0;
    transform-origin: 50% 50%;
    transition: transform 70ms cubic-bezier(0.31, 1.06, 0.44, 0.95);
    will-change: transform;
}

/* ---------- WING ---------- */
.winged-selector-wing {
    position: absolute;
    left: 50%;
    /* bottom: -24%; */
    width: calc(var(--winged-selector-size) * 0.18);
    height: calc(var(--winged-selector-size) * 0.9);
    transform: translateX(-50%);
    border-radius: 3px;
    background: radial-gradient(circle at 92% 15%, #232323, rgb(18 18 18) 92%);
    box-shadow: inset 3px -2px 2px 0px rgb(8 8 8), inset -2px 0px 1px 0px rgb(67 67 67), inset -2px 2px 2px 0px rgb(73 73 73), -3px 1px 2px 2px black;
    /* clip-path: polygon(30% 0%, 70% 0%, 95% 100%, 5% 100%); */
}

/* ------------ LABELS --------------- */
.winged-selector-label {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 4px 8px;
    border: 0;
    background: transparent;
    cursor: pointer;
    /*font: 600 11px/1 ui-monospace, Menlo, monospace;*/
    font: bold 11px ui-monospace, monospace; 
    letter-spacing: .08em;
    text-transform: uppercase;
    color: var(--machine-text);
}