#screen-housing {
    position: relative;
    width: 870px;
    height: 670px;
    flex: 0 0 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--machine-colour);
    box-shadow: inset -2px 2px 2px 0px #3b3b3b, inset 2px -2px 2px 0px #060606;
    border-radius: 15px;
}

#screen-inset {
    position: relative;
    width: 830px;
    height: 630px;
    flex: 0 0 830px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -9px 9px 12px 4px #040404, inset 7px -8px 11px 4px rgb(45 45 45), -2px 2px 2px 0px #393939, 2px -2px 2px 0px #0c0c0c;
    border-radius: 5px;
}