:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--machine-text);
  background: var(--machine-colour);

  /* --------- MACHINE SURFACE --------- */
  --machine-colour: rgb(19, 19, 19);
  --machine-text: rgba(255, 132, 16, 0.938);

  --diagonal-switch-column-colour: rgb(17, 17, 17);

  /* -------- CONTROL DEVICES --------- */
  /* WINGED SELECTOR */
  --winged-selector-dial-base: #929292;
  --winged-selector-dial-high: #a09c9c;
  --winged-selector-wing-low: #505358;
  --winged-selector-wing-med: #bcc0c2;
  --winged-selector-wing-high: #b7babe;

  /* JACKAL SLIDER */
  --jackal-slider-thumb-dark: rgb(24, 24, 24);
  --jackal-slider-thumb-light: rgb(44, 44, 44);
  --jackal-slider-thumb-highlight: rgb(54, 53, 53);
  --jackal-slider-thumb-shadow: rgb(22, 22, 22);
  --jackal-slider-rail: black;
}

body {
  margin: 0;
  padding: 10px;
  padding-top:5px;
  min-height: 100vh;  
  min-width: fit-content;
  background-color: black;
  overflow-y: hidden;
}

canvas {
  width: 800px;
  height: 600px;
  box-shadow: -1px -1px 2px 1px black;
}

#fullscreen-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 99;
}

.machine-recede {
    position: relative;
    margin: 20px;
    width: min-content;
    padding: 5px 5px 10px 10px;
    box-shadow: inset -7px 7px 6px 0px #53535354, inset 12px -13px 4px -1px rgb(6 6 6);
    border-radius: 7px;
    background-color: #1e1e1e;
}

.machine {
    padding: 20px 20px 20px 40px;
    border-radius: 5px;
    position: relative;
    width: min-content;
    display: flex;
    flex-direction: row;
    background-color: var(--machine-colour);
    box-shadow: inset -2px 2px 3px 0px #41414194, inset 2px -2px 2px 0px #060606, -10px 11px 9px 0px #00000085;
}

.machine-face {
  height: 670px;
  width: min-content;
  display: flex;
  position: relative;
}

.panel-horizontal {
  display: flex;
  position: relative;
}
.control-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.control-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

fieldset {
  border-color: rgba(202, 132, 1, 0.733);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.gutter {
    height: 250px;
    width: 140px;
    border-radius: 5% 5% 5% 5%;
    background-color: var(--machine-colour);
    box-shadow: inset -2px 3px 4px 4px rgba(0, 0, 0, 0.829), inset 3px -2px 3px 0px rgb(231 231 231 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.plateau {
    margin: 5px;
    padding: 5px;
    background-color: var(--machine-colour);
    box-shadow: inset -3px 3px 2px 0px rgb(101 101 101 / 33%), inset 3px -3px 2px 0px rgb(10 10 10), -1px 1px 1px 0px #080808;
}

span {
  font: bold 11px ui-monospace, monospace; 
  letter-spacing: .06em;
  text-transform: uppercase;
}

.input-with-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px;
}

.input-with-label span {
  margin-bottom: 5px;
}

.input-with-label .bottom-label{
  margin-top: 5px;
  margin-bottom: 0px;
}

#colour-winged-selectors .input-with-label span{
  font-size: 14px;
  margin-bottom: 0px;
}

.hsl-with-label {
  align-items: center;
}

.hsl-with-label .label {
  margin-left: 23px;
}

.hsl-with-label .slider{
  margin-left: 23px;
}

.panel-name {
  position: absolute;
  font-size: 18px;
  letter-spacing: 0.2em;
  padding: 3px 9px;
}

#rule-panel-name {
    position: relative;
    margin:auto;
    margin-top: 10px;
}

#draw-panel-name {
  left: 210px;
  top: 8px;
}

#colour-panel-contents {
  margin: 5px;
}

#colour-panel {
  width: 410px;
  margin-top: -30px;
}

#colour-panel-name {
  left: 127px;
  top: 78px;
}

#colour-winged-selectors {
  margin-bottom: -10px;
  justify-content: space-between;
}

#colour-endpoint-selector .winged-selector-label {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.04px;
  font-family:'Courier New', Courier, monospace;
}

#rule-panel-contents {
    margin-top: 10px;
}

#rightside-panels {
  justify-content: space-around;
  margin-top: -8px;
  height: 100%;
  position: relative;
}

#hsl-gutter {
  height: 100%;
  width: 320px;
  padding: 7px 7px 7px 0px;
}

#preset-panel {
  position: relative;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 290px;
  margin-top: -20px;
}

#preset-panel-name {
  border-style: none;
  font-size: 14px;
  top: -20px;
  left: 62px;
}

#preset-window {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: left;
    background: radial-gradient(circle at 34% 89%, #fbfbfb17, rgb(14 14 14 / 0%) 93%);
    border-style: solid;
    border-color: #333333;
    border-radius: 3px;
    box-shadow: inset 2px -2px 2px -1px #252525, inset -2px 2px 4px 0px #000000, -2px 2px 3px -1px #000000;
    background-color: #0c0c0c;
    overflow: hidden;
}

#preset-name {
  position: relative;
  opacity: 0.9;
  display: inline-block;
  transform: translateY(var(--preset-name-yoffset));
  margin-left: 10px;
  line-height: 40px;
  white-space: pre-line;
  
  clip-path: polygon(0px calc(2px - var(--preset-name-yoffset)), 0px calc(38px - var(--preset-name-yoffset)), 150px calc(38px - var(--preset-name-yoffset)), 150px calc(2px - var(--preset-name-yoffset)));
  
  transition: transform 0.15s linear, clip-path 0.15s linear;
}

#preset-panel .push-button {
  position: relative;
  height: 42px;
  width: 35px;
  top: -1px;
}

#preset-panel .push-button span {
  position: relative;
  font-size: 15px;
  top: -1px;
  left: 1px;
}

#preset-panel .push-button.active span {
  position: relative;
  font-size: 15px;
  top: -1px;
  left: 0px;
}

#preset-selector-column {
  position: relative;
  top: -3px;
}

#preset-selector-column .push-button {
  position: relative;
  width: 40px;
  height: 20px;
  top: unset;
}

#preset-selector-column .push-button span, #preset-selector-column .push-button.active span {
  width: 40px;
  height: 20px;
  font-size: 11px;
}

#manual {
  color:#060606;
  line-height: normal;
  white-space: pre-line;
}

#manual p, #manual ul, #manual ol, #manual li {
  font-size: 12px;
  white-space: pre-line;
  font-weight: 400; 
}

#manual p {
  text-indent: 1em;
  margin-top: 0.5em;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

#manual ul {
  list-style-type: none;
}

#manual ul, #manual ol {
  padding-inline-start: 2em;
  margin-block-end: 0.3em;
  margin-block-start: 0.3em;
}

#manual .sublist {
  list-style-type: none;
}

#manual .small-note {
  font-size: 10px;
}

#manual h1 {
  margin: 0px;
  font-size: 16px;
}

#manual h2 {
  margin-bottom: 0px;
  margin-top: 1em;
  font-size: 14px;
}

#manual h3 {
  margin: 0px;
  margin-block-start: 1em;
  font-size: 12px;
}

#to-second-page {
  left: 97%;
}

#to-first-page {
  left: 2%;
}

#machine-lighting {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: radial-gradient(circle at 90% 30%, rgba(255, 255, 255, 0.034), rgba(0, 0, 0, 0) 40%);
}

#rule-lighting {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: radial-gradient(circle at 130% 30%, rgba(255, 255, 255, 0.034), rgba(0, 0, 0, 0) 40%);
}

#user-manual-book {
    position: absolute;
    z-index: 2;
    top: 690px;
    left: 1400px;
    height: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 88% -24%, rgb(30 30 30), rgb(24 24 24) 85%);
    box-shadow: 0px 0px 1px 3px black, inset -3px 3px 4px -2px #9999996e, inset 2px -2px 3px 0px #000000;
    border-radius: 1px;
    cursor: pointer;
}

#user-manual-book span {
  position: relative;
  font-size: 12px;
  text-transform: none;
  margin-top: 0px;
  letter-spacing: 0.19em;
}

#fullscreen-instructions {
  position: fixed;
  z-index: 100;
  top: 5%;
  left: 5%;
  white-space: pre;
  font-size: 16px;
}

.visible-fullscreen-instructions {
  opacity: 1.0;
}

.fading-fullscreen-instructions {
  transition: opacity 2s ease-in-out;
  opacity: 0.0;
}

.hidden-fullscreen-instructions {
  opacity: 0.0;
}