:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--machine-text);
  background: var(--machine-colour);

  /* --------- MACHINE SURFACE --------- */
  --machine-colour: rgb(44, 44, 44);
  --machine-text: rgb(253, 143, 0);

  /* -------- CONTROL DEVICES --------- */
  /* WINGED SELECTOR */
  --winged-selector-dial-base: #929292;
  --winged-selector-dial-high: #a09c9c;
  --winged-selector-wing-low: #505358;
  --winged-selector-wing-med: #bcc0c2;
  --winged-selector-wing-high: #b7babe;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

canvas {
  width: 800px;
  height: 600px;
}

.machine {
  display: flex;
  flex-direction: row;
}

.panel-horizontal {
  display: flex;
}

.playback-column {
  justify-content: center;
}

.control-column {
  display: flex;
  flex-direction: column;
}

.control-row {
  display: flex;
  justify-content: space-evenly;
}